@font-face {
	font-family: "Roboto";
	src: url(assets/fonts/Roboto-Bold.ttf);
	src: url(assets/fonts/Roboto-Regular.ttf);
}
*, *::before, *::after {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	transition: 0.3s;
}
body {
	background: hsl(235, 18%, 26%);
	font-family: "Roboto", sans-serif;
	position: relative;
}
.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center; 
	padding: 1rem;
}
.miniContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vh;
	height: 80vh;
	background: white;
	border-radius: 5vh;
	padding: 2vh;
}
.div1 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3vh;
	gap: 3vh;
}
.hd {
	text-align: left;
	font-size: 6vh;
}
.text {
	font-size: 2vh;
}
.iconimg-div {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5vh;
}
.icon-span {
	display: flex;
	align-items: flex-start;
	gap: 1.5vh;
}
.icon-span img {
	display: block;
	width: 3vh;
}
.icon-para {
	font-size: 2vh;
	align-self: center;
}
#emaildiv {
	display: flex;
	flex-direction: column;
	gap: 2vh;
}
#emaildiv label {
	font-size: 1.7vh;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#emaildiv label span {
	color: red;
}
#email {
	padding: 2vh;
	border-radius: 1vh;
	font-size: 2vh;
	border: 0.1vh solid hsl(231, 7%, 70%);
}
#email:focus {
	border: 0.1vh solid black;
	outline: none;
}
#btn {
	border: none;
	border-radius: 1vh;
	width: 100%;
	padding: 2vh;
	font-size: 2vh;
	margin-top: 4vh;
	background: hsl(234, 29%, 20%);
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#btn:hover {
	background: linear-gradient(90deg, hsl(348, 99%, 66%), hsl(348, 99%, 66%), hsl(4, 100%, 67%), hsl(4, 100%, 67%));
	box-shadow: 0vh 1vh 1vh 1vh hsl(348, 99%, 90%);
}
.div2 {
	width: 50%;
	height: 100%;
	padding: 1vh;
}
.desktop-div {
	width: 100%;
	height: 100%;
}
#desktop-img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 3vh;
	object-fit: cover;
}
.mobile-div {
	display: none;
}

/* thanx.html styles start */

.thanx {
	background: white;
	width: 60vh;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 5vh;
	padding: 5vh;
	gap: 1vh;
}
.thanxhd {
	font-size: 5vh;
}
#thanxbtn {
	width: 100%;
	padding: 2vh;
	border-radius: 1vh;
	border: none;
	font-weight: bold;
	background: hsl(234, 29%, 20%);
	color: white;
	font-size: 2vh;
	cursor: pointer;
}
#thanxbtn:hover {
	background: linear-gradient(90deg, hsl(348, 99%, 66%), hsl(348, 99%, 66%), hsl(4, 100%, 67%), hsl(4, 100%, 67%));
	box-shadow: 0vh 1vh 1vh 1vh hsl(348, 99%, 90%);
}
.thanxpara {
	color: hsl(235, 18%, 26%);
	font-size: 2.5vh;
}
.thanxpara span {
	font-weight: bold;
	color: black;
}
.thanx-imgdiv {
	width: 10vh;
}
.thanx-imgdiv img {
	display: block;
	width: 100%;
	height: 100%;
}

/*   thanx.html styles end */

@media screen and (orientation: portrait) {
	body {
		background: white;
	}
	.container {
		padding: 0;
		align-items: flex-start;
	}
	.miniContainer {
		width: 100%;
		height: initial;
		border-radius: 0;
		flex-direction: column-reverse;
		padding: 0;
		justify-content: initial;
		align-items: initial;
	}
	.div1, .div2 {
		width: 100%;
	}
	.div1 {
		justify-content: flex-start;
		padding: 4vh;
	}
	.hd {
		font-size: 5vh;
		text-align: left;
		margin-top: 3vh;
	}
	.icon-span {
		align-items: flex-start;
	}
	.icon-span img {
		width: 3vh;
		height: 3vh;
	}
	.div2 {
		padding: 0;
		width: 100%;
	}
	.mobile-div {
		display: block;
		width: 100%;
		height: 100%;
	}
	.desktop-div {
		display: none;
	}
	#mobile-img {
		display: block;
		width: 100%;
		height: 100%;
		border-bottom-left-radius: 3vh !important;
		border-bottom-right-radius: 3vh !important;
	}

	/* thanx.html styles */
	.thanx {
		width: 100%;
		border-radius: 0;
		min-height: 100vh;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 5vh;
		gap: 3vh;
	}
	.thanx-imgdiv {
		margin-top: 10vh;
		width: 10vh;
	}
	.thanxhd {
		font-size: 5vh;
	}
	.thanxpara {
		font-size: 3vh;
	}
	.thanx-imgdiv img {
		display: block;
		width: 100%;
		height: 100%;
	}
	#thanxbtn {
		width: 85%;
		left: 50%;
		position: absolute;
		bottom: 5%;
		transform: translate(-50%);
		font-size: 3vh;
	}
}

@media screen and (max-height: 400px) {
	body {
		background: white;
	}
	.container {
		padding: 0;
		align-items: flex-start;
	}
	.miniContainer {
		width: 100%;
		height: initial;
		border-radius: 0;
		flex-direction: row;
		padding: 0;
		justify-content: initial;
		align-items: initial;
	}
	.div1 {
		width: 60%;
	}
	.div1 {
		justify-content: flex-start;
		padding: 5vh;
	}
	.hd {
		font-size: 7vh;
		text-align: left;
		margin-top: 3vh;
	}
	.text {
		font-size: 4vh;
	}
	.icon-para {
		font-size: 3vh;
	}
	#emaildiv label, #error {
		font-size: 4vh;
	}
	#email {
		font-size: 4vh;
	}
	#btn {
		font-size: 4vh;
	}
	.icon-span {
		align-items: flex-start;
	}
	.icon-span img {
		width: 5vh;
		height: 5vh;
	}
	.div2 {
		padding: 0;
		width: 40%;
		height: 100vh;
		padding: 5vh;
	}
	.mobile-div {
		display: block;
		width: 100%;
		height: 100%;
	}
	.desktop-div {
		display: none;
	}
	#mobile-img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5vh;
	}
	.div2:hover #mobile-img {
		border-radius: 0;
	}

	/* thanx.html styles */
	.thanx {
		width: 100%;
		border-radius: 0;
		min-height: 100vh;
		justify-content: flex-start;
		align-items: center;
		padding: 5vh;
		gap: 3vh;
	}
	.thanx-imgdiv {
		margin-top: 10vh;
		width: 15vh;
	}
	.thanxhd {
		font-size: 5vh;
	}
	.thanxpara {
		font-size: 3vh;
		text-align: left;
	}
	.thanx-imgdiv img {
		display: block;
		width: 100%;
		height: 100%;
	}
	#thanxbtn {
		width: 50%;
		left: 50%;
		position: absolute;
		bottom: 5%;
		transform: translate(-50%);
		font-size: 3vh;
	}	
}

@media screen and (max-width: 700px) {
	body {
		background: white;
	}
	.container {
		padding: 0;
		align-items: flex-start;
	}
	.miniContainer {
		width: 100%;
		height: initial;
		border-radius: 0;
		flex-direction: column-reverse;
		padding: 0;
		justify-content: initial;
		align-items: initial;
	}
	.div1, .div2 {
		width: 100%;
	}
	.div1 {
		justify-content: flex-start;
		padding: 4vh;
	}
	.hd {
		font-size: 5vh;
		text-align: left;
		margin-top: 3vh;
	}
	.icon-span {
		align-items: flex-start;
	}
	.icon-span img {
		width: 3vh;
		height: 3vh;
	}
	.div2 {
		padding: 0;
		width: 100%;
	}
	.mobile-div {
		display: block;
		width: 100%;
		height: 100%;
	}
	.desktop-div {
		display: none;
	}
	#mobile-img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0;
		border-bottom-right-radius: 5vh;
		border-bottom-left-radius: 5vh;
	}

	.thanx {
		width: 100%;
		border-radius: 0;
		min-height: 100vh;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 5vh;
		gap: 3vh;
	}
	.thanx-imgdiv {
		margin-top: 10vh;
		width: 10vh;
	}
	.thanxhd {
		font-size: 5vh;
	}
	.thanxpara {
		font-size: 3vh;
	}
	.thanx-imgdiv img {
		display: block;
		width: 100%;
		height: 100%;
	}
	#thanxbtn {
		width: 85%;
		left: 50%;
		position: absolute;
		bottom: 5%;
		transform: translate(-50%);
		font-size: 3vh;
	}	
}

@media screen and (max-height: 300px) {
	.hd {
		font-size: 20vh;
	}
	.text {
		font-size: 16vh;
	}
	.div1 {
		gap: 8vh;
		padding: 15vh;
	}
	.iconimg-div {
		gap: 8vh;
	}
	.icon-span {
		gap: 5vh;
	}
	.icon-span img {
		width: 20vh;
		height: 20vh;
	}
	.icon-para {
		font-size: 16vh;
	}
	#emaildiv label, #error {
		font-size: 18vh;
	}
	#email {
		font-size: 18vh;
	}
	#btn {
		font-size: 18vh;
	}
}
